* {
  text-decoration: none;
  list-style: none;
}
.header a,
a:visited,
a:hover {
  color: inherit;
}

/* header */
.header {
  display: flex;
  justify-content: space-between;
  height: 270px;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
  box-sizing: border-box;
}
.header-list ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.header-list li {
  font-size: 0.9rem;
  padding-left: 30px;
}
.header-list li img {
  width: 20px;
}
.header-list li:hover {
  color: gray;
  cursor: pointer;
}

/* 背景画像 */
.mainvisual img {
  max-width: 100%;
  width: 1920px;
  height: 420px;
  /* 縦横比を維持したまま画像をトリミング */
  object-fit: cover;
}

/* About */
.wrapper h2 {
  text-align: center;
  margin: 70px 0;
}
.contents-about ul {
  padding: 0;
  width: 960px;
  margin: 0 auto;
  font-size: 14px;
}
.contents-about li:nth-child(1) {
  margin-bottom: 30px;
}
.contents-about p {
  width: 960px;
  margin: 30px auto 20px auto;
  overflow-wrap: break-word;
}

/* Works */
.works {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
.works img {
  width: 30%;
}

/* News */
.wrapper_news {
  width: 960px;
  margin: 0 auto;
}
.wrapper_news h2 {
  text-align: center;
  margin: 70px 0;
}
.wrapper_news ul {
  padding: 0;
}
.wrapper_news li {
  padding: 15px;
  border-bottom: 1px solid gray;
}
.wrapper_news li:nth-child(1) {
  border-top: 1px solid gray;
}
.wrapper_news span {
  padding-left: 100px;
}

/* form */
form {
  width: 960px;
  margin: 0 auto;
}
form h2 {
  margin: 70px 0;
  text-align: center;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item input {
  width: 80%;
  margin-top: 10px;
}
.item textarea {
  width: 80%;
  height: 150px;
  margin-top: 10px;
}
.send {
  text-align: center;
}
.send input {
  background-color: black;
  color: white;
  padding: 15px 80px;
  margin-top: 30px;
  cursor: pointer;
}
.send input:hover {
  background-color: white;
  color: black;
}

footer {
  margin-top: 60px;
  height: 40px;
  background-color: rgb(22, 16, 78);
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 0.5rem;
}
footer p {
  margin: 0;
}
body {
  margin: 0;
}
